.carte_profil {
    background-color: #252424;
    border-radius: 12px;
    margin: auto;
    width: 95%;
    padding-bottom: 10%;
    color: #FFFFFF;
    font-size: 5vw;
    margin-bottom: 5%;
    padding-top: 5%;
}

.carte_fabrication {
    background-color: #D9138A;
    border-radius: 12px;
    margin: auto;
    width: 95%;
    padding-bottom: 5%;
    color: #FFFFFF;
    font-size: 5vw;
    margin-bottom: 5%;
    padding-top: 5%;
}

.carte_inventaire {
    background-color: #E2D810;
    border-radius: 12px;
    margin: auto;
    width: 95%;
    padding-bottom: 5%;
    color: #000000;
    font-size: 4vw;
    margin-bottom: 5%;
    padding-top: 5%;
}

.container_fabrication {
    background-color: #b71175;
    border-radius: 12px;
    width: 95%;
    padding-bottom: 3%;
    padding-top: 3%;
    color: #FFFFFF;
    font-size: 5vw;
    margin: 5% auto 0;
}

.container_inventaire {
    width: 95%;
    margin: auto;
}

.titre {
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
}

.sous_titre {
    margin-left: 5%;
}

.ligne_metier {
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.ligne_niveau {
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.bouton_changer_metier {
    background-color: #E2D810;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    width: 50%;
    font-size: 3.5vw;
    cursor: pointer;
    color: black;
    margin-left: auto;
    margin-right: 5%;
    font-family: 'Inknut Antiqua';
}

.bouton_augmenter_niveau {
    background-color: #E2D810;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    width: 60%;
    font-size: 3.5vw;
    cursor: pointer;
    color: black;
    margin-left: auto;
    margin-right: 5%;
    font-family: 'Inknut Antiqua';
}

.bouton_produit {
    background-color: #252424;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    width: 60%;
    font-size: 4vw;
    cursor: pointer;
    margin-left: 5%;
    font-family: 'Inknut Antiqua';
}

.bouton_titre {
    background-color: #9e9a3e;
    font-family: 'Inknut Antiqua';
    font-size: 4vw;
    text-decoration: underline;
    border-radius: 5px;
    cursor: pointer;
}

.container_ressource {
    font-size: 4vw;
    padding-left: 20%;
}

.ligne_inventaire_titre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 2%;
}

.ligne_inventaire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-right: auto;
    margin-left: 5%;
}

.quantite_inventaire {
    margin-left: auto;
    margin-right: 45%;
}