<h1>Medieval trade</h1>
<div class="carte_profil">
  <div class="titre">Profil</div>
  <div class="sous_titre">{{utilisateur?.pseudo}}</div>
  <div class="ligne_metier">
    <label>{{utilisateur?.metier}}</label>
    <button type="button" class="bouton_changer_metier" (click)="changer_metier()">Changer de métier</button>
  </div>
  <div class="sous_titre">Kamas : {{100}} </div>
  <div class="ligne_niveau">
    <label>Niveau {{utilisateur?.niveau}}</label>
    <button type="button" class="bouton_augmenter_niveau" (click)="augmenter_niveau()">Augmenter de niveau</button>
  </div>
</div>
<div class="carte_fabrication">
  <div class="titre">Fabrication</div>
  <div class="container_fabrication" *ngFor="let produit of listfabrication; let i = index">
    <button type="button" class="bouton_produit" (click)="fabriquer(produit)">{{produit.produit}}</button>
    <div class="container_ressource" *ngFor="let ressource of listfabrication[i].list">
      <label>- {{ressource.ressource}} : {{ressource.quantite}}</label>
    </div>
  </div>
</div>
<div class="carte_inventaire">
  <div class="titre">Inventaire</div>
  <div class="container_inventaire">
    <div class="ligne_inventaire_titre">
      <button type="button" class="bouton_titre" (click)="trier_nom()">Nom</button>
      <button type=" button " class=" bouton_titre " (click)=" trier_quantite()">Quantité</button>
    </div>
    <div class="ligne_inventaire" *ngFor="let inventaire of listInventaire">
      <label>{{inventaire.nom}}</label>
      <div class="quantite_inventaire">{{inventaire.quantite}}</div>
    </div>
  </div>
  <button type=" button" class=" bouton_vendre" (click)=" vendre()">Vendre</button>
</div>
<div class="carte_tableau_vente">
  <div class="titre">Tableau des ventes</div>
  <select [(ngModel)]="ressource_produit" (ngModelChange)="recuperation_vente()" class="ressource_produit">
    <option value="" disabled selected>Choisissez une ressource</option>
    <option *ngFor="let ressource_produit of listRessourceProduit" [ngValue]="ressource_produit">
      {{ressource_produit.nom}}</option>
  </select>
  <div class="container_vente" *ngIf="this.listVente.length > 0">
    <div class="ligne_vente_titre">
      <button type="button" class="bouton_titre_vente" (click)="trier_pseudo()">Pseudo</button>
      <button type=" button " class=" bouton_titre_vente" (click)=" trier_prix()">Prix</button>
    </div>
    <div class="ligne_vente" *ngFor="let vente of listVente">
      <label>{{vente.pseudo}}</label>
      <label>{{vente.prix}}</label>
      <input type="radio" name="choix" class="radio" [value]="vente" [(ngModel)]="venteSelectionnee">
    </div>
  </div>
  <button type=" button" class=" bouton_achete" (click)=" acheter()">Acheter</button>
</div>