<h1>Medieval trade</h1>
<div class="carte_profil">
  <div class="titre">Profil</div>
  <div class="sous_titre">{{utilisateur?.pseudo}}</div>
  <div class="ligne_metier">
    <label>{{utilisateur?.metier}}</label>
    <button type="button" class="bouton_changer_metier" (click)="changer_metier()">Changer de métier</button>
  </div>
  <div *ngIf="bool_changer_metier">
    <div class="ligne_changer_metier">
      <select [(ngModel)]="metier" class="metier">
        <option value="" disabled selected>Choisissez un nouveau métier</option>
        <option *ngFor="let metier of listMetier" [ngValue]="metier">{{ metier.nom }}</option>
      </select>
      <button type="button" class=" bouton_changer_metier_2" (click)=" changer_metier_valider() ">Valider</button>
    </div>
  </div>
  <div class=" sous_titre ">Kamas : {{kamas}}</div>
  <div *ngIf="utilisateur?.niveau != 3">
    <div class=" ligne_niveau ">
      <label>Niveau {{utilisateur?.niveau}}</label>
      <button type=" button " class=" bouton_augmenter_niveau " (click)=" augmenter_niveau() ">Augmenter de
        niveau</button>
    </div>
  </div>
  <div *ngIf="utilisateur?.niveau == 3">
    <div class=" ligne_niveau ">
      <label>Niveau {{utilisateur?.niveau}}</label>
    </div>
  </div>
  <div *ngIf="bool_augmenter_niveau">
    <div class=" ligne_niveau ">
      <label>Prix : {{prix_augmenter_niveau}}</label>
      <button type="button" class=" bouton_augmenter_niveau_2" (click)=" changer_niveau() ">Valider</button>
    </div>
  </div>
</div>
<div class=" carte_fabrication ">
  <div class=" titre ">Fabrication</div>
  <div class=" container_fabrication " *ngFor=" let produit of listfabrication; let i=index ">
    <div *ngIf=" produit.afficher ">
      <button type=" button " class=" bouton_produit " (click)=" fabriquer(produit) ">{{produit.produit}}</button>
      <div class=" container_ressource " *ngFor=" let ressource of listfabrication[i].list ">
        <label>- {{ressource.ressource}} : {{ressource.quantite}}</label>
      </div>
    </div>
    <div *ngIf=" !produit.afficher ">
      <button type=" button " class=" bouton_produit " (click)=" fabriquer(produit) ">{{produit.produit}} :
        {{produit.qauntite_produit}}</button>
      <div class=" container_fabrication_produit ">
        <div class=" ligne_fabrication_titre ">
          <label>Ressources</label>
          <label>Requis</label>
          <label>Possédé</label>
        </div>
        <div class=" ligne_fabrication " *ngFor=" let ressource of produit.list ">
          <label>{{ressource.ressource}}</label>
          <label>{{ressource.quantite * produit.qauntite_produit }}</label>
          <label>{{ressource.quantite_possede}}</label>
        </div>
      </div>
      <div class=" barre_container ">
        <input type="range" min=" 1 " max=" 20 " step=" 1 " [value]=" produit.qauntite_produit "
          (input)=" barre($event, produit) " class=" barre ">
      </div>
      <div class=" bouton_fabriquer_contenair ">
        <button type=" button " class=" bouton_fabriquer " (click)=" fabriquer_produit(produit) ">Fabriquer</button>
      </div>
    </div>
  </div>
</div>
<div class=" carte_inventaire ">
  <div class=" titre ">Inventaire</div>
  <div class=" container_inventaire ">
    <div class=" ligne_inventaire_titre ">
      <button type=" button " class=" bouton_titre " (click)=" trier_nom() ">Nom</button>
      <button type=" button " class=" bouton_titre " (click)=" trier_quantite() ">Quantité</button>
    </div>
    <div class=" ligne_inventaire " *ngFor=" let inventaire of listInventaire ">
      <div class=" nom_inventaire ">{{inventaire.nom}}</div>
      <label>{{inventaire.quantite}}</label>
    </div>
  </div>
  <div *ngIf=" afficher ">
    <button type=" button " class=" bouton_vendre " (click)=" vendre() ">Mettre en vente</button>
  </div>
  <div *ngIf=" !afficher ">
    <div class=" container_mise_vente ">
      <button type=" button " class=" bouton_vendre " (click)=" vendre() ">Mettre en vente</button>
      <div class=" ligne_1 ">
        <label>Ressource : </label>
        <select [(ngModel)]=" inventaireSelectionner " class=" ressource_produit_vente ">
          <option value=" " disabled selected>Choisissez une ressource</option>
          <option *ngFor=" let inventaireSelectionner of listInventaire " [ngValue]=" inventaireSelectionner ">
            {{inventaireSelectionner.nom}}</option>
        </select>
      </div>
      <div class=" ligne_1 ">
        <label>Quantité {{quantite}} : </label>
        <input type="range" min=" 0 " max={{inventaireSelectionner?.quantite}} step=" 1 " [(ngModel)]=" quantite "
          class="barre">
      </div>
      <div class=" ligne_1 ">
        <label>Prix unitaire : </label>
        <input type=" number " [(ngModel)]=" prix_unitaire " placeholder=" Prix " min=" 0 " max=" 100 " class="
        quantite_vente ">
      </div>
      <div class=" contenair_bouton_vente ">
        <button type=" button " class=" bouton_vente "
          (click)=" vente(inventaireSelectionner?.fk_ressource, quantite, prix_unitaire) ">Vendre</button>
      </div>
    </div>
  </div>
</div>
<div class=" carte_tableau_vente ">
  <div class=" titre ">Tableau des ventes</div>
  <select [(ngModel)]=" ressource_vente " (ngModelChange)=" recuperation_vente(ressource_vente) " class="
        ressource_produit ">
    <option value=" " disabled selected>Choisissez une ressource</option>
    <option *ngFor=" let ressource_vente of listRessourceProduit " [ngValue]=" ressource_vente ">
      {{ressource_vente.nom}}</option>
  </select>
  <div class=" container_vente " *ngIf=" this.listVente.length> 0">
    <div class="ligne_vente_titre">
      <button type="button" class="bouton_titre_vente" (click)="trier_pseudo()">Pseudo</button>
      <button type=" button " class=" bouton_titre_vente" (click)=" trier_prix()">Prix</button>
    </div>
    <div class="ligne_vente" *ngFor="let vente of listVente">
      <label>{{vente.pseudo}}</label>
      <label>{{vente.prix}}</label>
      <input type="radio" name="choix" class="radio" [value]="vente" [(ngModel)]="venteSelectionnee"
        (click)="clickRadio(vente)">
    </div>
    <div *ngIf="venteSelectionnee">
      <div *ngIf="!bool_acheter">
        <div class="container_acheter">
          <div class="ligne_acheter">
            <label>Kamas : </label>
            <label>{{kamas}}</label>
          </div>
          <div class="ligne_acheter">
            <label>Prix : </label>
            <label>{{venteSelectionnee.prix * quantiteAchat}}</label>
          </div>
          <div class="ligne_acheter">
            <label>Quantité {{quantiteAchat}} : </label>
            <input type="range" min="1" [max]="venteSelectionnee.quantite > 20 ? 20 : venteSelectionnee.quantite"
              step="1" [(ngModel)]="quantiteAchat" class="barre">
          </div>
          <button type=" button" class=" bouton_achete" (click)=" acheter()">Acheter</button>
        </div>
      </div>
      <div *ngIf="bool_acheter">
        <div class="contenair_bool_acheter">
          <div class="produit_achete">Produit acheté !</div>
        </div>
      </div>
    </div>
  </div>
</div>